@model ChooseRestaurant.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Modifier restaurant</title>
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modify a restaurant</legend>

            <div>
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div>
                @Html.LabelFor(model => model.Phone)
                @Html.TextBoxFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <br />
            <input type="submit" value="Modify" />
        </fieldset>
    }
</body>
</html>